h1 {
    color: white;
    text-align: center;
}

body {
    background-color: #232323;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background: rgb(87, 165, 189);
    margin: 1.66%;
    border-radius: 10px;
    float: left;
}